<div id="cart">
    <div class="">
      <h4>Express Checkout</h4>
      <div class="row">
        <div class="col s12 m4 l4">
          <p>Shipping Details</p>
        </div>
        <div class="col s12 m4 l4">
          <p>Payment Method</p>
        </div>
        <div class="col s12 m4 l4">
          <p>Confirm Order</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="purchase" class="col s12 l4 m5 left">
        <a ui-sref="checkout"  class="waves-effect btn-large">Purchase Items</a>
      </div>
      <div id="shop" class="col s12 l4 m5 right">
          <a ui-sref="home"  class="waves-effect btn-large">Continue Shopping</a>
      </div>
    </div>
</div>
