<nav class="outer">
  <div class="nav-wrapper inner">
    <a ui-sref="home" class="brand-logo"><h4>SnapShop</h4></a>
    <a ui-sref="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="350" data-closeonclick="false">
        <i class="material-icons">menu</i>
    </a>
     <ul class="right hide-on-med-and-down">
      <li><a ui-sref="cart">Cart</a></li>
      <li><a class='' ui-sref='login'>LogIn</a></li>
    </ul>
     <ul class="side-nav" id="nav-mobile"w>
      <li><a ui-sref="home"><h4>SnapShop</h4></a></li>
      <li><a ui-sref="cart">Cart</a></li>
      <li><a ui-sref="login">Log In</a></li>
    </ul>
  </div>
</nav>
